# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

##
.idea

#config file
#database/configuration.py

#log file
scrapper.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
artifact/
# C extensions
*.so
